// components/greeting
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lato:ital,wght@0,300;0,700;0,900;1,400&family=Libre+Baskerville&family=Source+Sans+3:wght@200&display=swap');


.profile-body {
    font-family: 'Lato', sans-serif;
    font-size: 14px; 
}

.profile_meat {
    margin: 40px 20px 20px 60px; 
    min-height: 500px; 
}

.profile_meat div {
    line-height: 140%; 
}

.user_name {
    font-size: 28px; 
}   

.logout_button {
    background-color: #F4F1EA;
    color: #382110; 
    font-size: 14px; 
    padding: 14px; 
    border-radius: 5px; 
    width: 250px; 
    border: 1px solid #D6D0C4; 
    margin: 10px; 
}

.profile-subheader {
    font-size: 16px; 
}
