body {
    background-color: #F4F1EA; 
}

.interactive-buttons {
    border: solid #000 10px; 
    padding: 50px; 
    background-color: #FFF;
    justify-content: left;
    width: 100px; 
}

.choice-awards {
    background-color: rgb(50,54,45);
}