@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lato:wght@300&family=Libre+Baskerville&family=Merriweather:wght@300&family=Source+Sans+3:wght@200&display=swap');

.body {
    // background-color: #F4F1EA;
    // z-index: -2; 
    // font-family: 'Spline Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}

.column {
    display: flex; 
    flex-direction: row;
    padding-top: 50px;
}

.header-logo {
    height: 60px; 
    display: flex; 
    margin-left: 10vw; 
}

.left-col {
    width: 1000px; 
}

.right-col {
    float: inline-end; 
    height: 300px; 
}

.horizontal {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex; 
    justify-content: space-between;
    background-color: rgb(50,54,45); 
    height: 300px; 
    margin-left: 10vw; 
}

.horizontal-background {
    background-color: rgb(50,54,45);
    height: 300px; 
    width: 100vw; 
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 110px; 
}
.choice-awards-book-text {
    font-size: 40px; 
    background: rgb(236,188,108);
    color: rgb(50,54,45); 
    padding: 30px; 
    display: flex; 
    justify-content: space-around; 
    height: 70%; 
    border-radius: 10%;
}

.choice-awards { 
    color: white; 
    font-size: 60px; 
    width: 500px; 
    display: flex; 
    justify-content: space-between;
    padding: 20px; 
}


.choice-awards-text {
    padding-left: 50px;
    font-weight: 200; 
    font-size: 55px; 
    font-family: 'Gideon Roman', cursive;
}

.interactive-buttons {
    padding: 50px; 
    background-color: #FFF;
    width: 250px; 
    height: 180px;  
    border: 1px solid grey; 
    border-radius: 5px;
    height: 120%; 
    line-height: 150%; 
}

.terms-service {
    color: grey; 
    font-size: 12px; 
    width: 240px; 
}

.interactive-buttons p {
    padding: 10px; 
}

.interactive-buttons button {
    background-color: #382110;
    color: #FFF; 
    font-size: 14px; 
    padding: 14px; 
    border-radius: 5px; 
    width: 250px; 
}

.mid-horizontal {
    flex-wrap: wrap;
    flex-direction: row;
    display: flex; 
    justify-content: space-around;
    font-size: 14px; 
    height: 150px; 
    padding: 3px;
    line-height: 18px; 
    margin-left: 7vw; 
    min-height: 15vw
}

.next-friend {
    width: 300px; 
    padding: 5px;
}

.next-friend-head {
    font-size: 18px; 
    padding-bottom: 20px; 
    padding-top: 20px; 
}

.friends-friending {
    width: 300px; 
    padding: 5px;
}

.friends-friending-head {
    font-size: 18px; 
    padding-bottom: 20px; 
    padding-top: 20px; 
}

// .bottom-horizontal {
//     flex-wrap: wrap;
//     flex-direction: row;
//     border: solid yellow 10px; 
//     display: flex; 
//     justify-content: space-between;
// }

// .discover {
//     background-color: rgb(244,242,233); 
//     width: 500px;  
//     font-size: 25px; 
// }

// .love-lists {
//     font-size: 25px; 
//     width: 300px; 
// }

// .quote {
//     border: dotted blue 5px;  
// }

// .searchbar {
//     height: 50px; 
//     padding: 20px; 
// }