.footer {
    background-color: #ceccc9; 
    font-size: 14px; 
    display: flex; 
    flex-direction: row;
    padding: 10px; 
    padding-top: 20px; 
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    padding-bottom: 30px; 
}

.footer-company {
    padding-left: 11vw; 
    // width: 300px;
}

.footer-company h1 {
    margin-bottom: 10px; 
}

.footer-company p {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px; 
}

.footer-work h1 {
    margin-bottom: 10px; 
}

.footer-work p {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px; 
}

.footer-connect {
    padding-right: 10vw; 
}

.footer-connect h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px; 
}

.socials {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10px; 
    margin-top: 10px; 
    border-radius: 20px;
    font-size: 36px; 
}

.fa {
    padding: 10px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px; 
    color: rgb(50,54,45);
    border: solid rgb(50,54,45) 2px;
    margin-right: 10px; 
}
