.header {
    background-color: #F4F1EA; 
    height: 60px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-size: 18px; 
}

.header img {
    max-width:100%;
    height:auto;
    margin-left: 50px; 
}

.header a {
    font-weight: bolder; 
    padding: 20px; 
    color: #382110;
    text-decoration: none;
}

.header a:hover {
    background-color: #382110;
    color: #F4F1EA; 
}

.header_profile {
    margin-right: 50px; 
}