// frontend/components/reviews/all_reviews

.allReviews {
    padding: 20px; 
    // border: red solid 3px;
    font-family: 'Lato', sans-serif;
    line-height: 120%; 
}

.allReviews a {
    text-decoration: none; 
    color:  #382110; 
    font-weight: bolder; 
}

.recent-review-body {
    margin-left: 50px; 
    margin-right: 50px; 
}