// frontend/reviews/create_reviews
// also edit review
.review-body {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    margin: 25px 50px; 
    min-height: 400px; 
}

.review-body > * {
    line-height: 150%;
}

.create-review-header {
    font-size: 20px; 
    font-weight: bolder; 
    margin-bottom: 25px; 
}

.create-review-middle {
    display:flex; 
    flex-direction: row; 
}

.image-create {
    height: 100px; 
    width: 150px; 
    margin-bottom: 10px; 
    margin-right: 30px;
}

.create-review-middle-right h1 {
    font-weight: bolder; 
    font-size: 17px; 
}

.create-review-middle-right h2 {
    font-size: 14px; 
}

.create-review-bottom {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
}

.review-rating {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin-bottom: 10px; 
}

.name-rating > input {
    border: solid 1px lightgray; 
    padding: 5px; 
    margin: 5px; 
    border-radius: 1px; 
}

.think-rating > input {
    border: solid 1px lightgray; 
    padding: 5px; 
    margin: 5px 5px 5px 0px; 
    border-radius: 1px; 

    width: 700px; 
    height: 300px; 
}

.review-button {
    border: solid 1px lightgray;
    padding: 8px 12px; 
    border-radius: 3px; 
    margin: 5px 5px 5px 0px;
}