// frontend/reviews/one_review

.review-options > * {
    background-color: #FFFFFF;
    color: grey; 
    border: none; 
    font-size: 12px; 
    // display: flex; 
    // flex-direction: row;
    // justify-content: center;
}

