// frontend/reviews/one_review

.review-options > * {
    background-color: #FFFFFF;
    color: grey; 
    border: none; 
    font-size: 12px; 
    justify-content: start; 
}

.review-options {
    margin-top: 43px; 
}   

.review-options-hidden {
    display: none; 
}

.review-bottom {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    margin-top: 20px; 
}

.review-bottom > * {
    margin-right: 50px; 
}

.review-right-col > h1 {
    font-weight: bolder; 
    font-size: 14.4px; 
    margin-top: 43px; 
}

.review-right-col > h2 {
    font-size: 12px; 
}
