//frontend/components/reviews/user_reviews

.userReview {
    padding: 20px; 
}

.userReview > a {
    text-decoration: none;
    color: #5e564b;
}

.userBuddy > a {
    text-decoration: none;
    color: #5e564b;
}

.userBuddy {
    padding: 20px; 
}