//frontend/components/reviews/user_reviews

.userReview {
    padding: 20px; 
}

.userReview a {
    text-decoration: none;
}

.userBuddy > a {
    text-decoration: none;
}

.userBuddy {
    padding: 20px; 
}